:root {
    --demo-light-bg: #ffffff;
}

label {
    display: inline-block;
    margin-bottom: .25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
