
<div class="page">
    <div class="page-contents">

        <div id="anchor" class="anchor">
            ⚓
        </div>
        <div id="tooltip" class="tooltip">
            <p>
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit.
            </p>
        </div>

    </div>
    <div class="page-controls">
        <div class="controls">
            <div class="controls-item">
                <div class="control-label">Span</div>
                <div class="control-grid">
                    <button class="control-grid-item control-grid-item-pos-1" data-position-area="block-start span-inline-start"></button>
                    <button class="control-grid-item control-grid-item-pos-2" data-position-area="block-start"></button>
                    <button class="control-grid-item control-grid-item-pos-3" data-position-area="block-start span-inline-end"></button>
                    <button class="control-grid-item control-grid-item-pos-4" data-position-area="inline-start"></button>
                    <button class="control-grid-item control-grid-item-pos-6" data-position-area="inline-end"></button>
                    <button class="control-grid-item control-grid-item-pos-7" data-position-area="block-end span-inline-start"></button>
                    <button class="control-grid-item control-grid-item-pos-8" data-position-area="block-end"></button>
                    <button class="control-grid-item control-grid-item-pos-9" data-position-area="block-end span-inline-end"></button>
                </div>
            </div>

            <div class="controls-item">
                <div class="control-label">Side Span</div>
                <div class="control-grid">
                    <button class="control-grid-item control-grid-item-pos-1" data-position-area="inline-start span-block-start"></button>
                    <button class="control-grid-item control-grid-item-pos-4" data-position-area="inline-start span-block-end"></button>
                    <button class="control-grid-item control-grid-item-pos-3" data-position-area="inline-end span-block-start"></button>
                    <button class="control-grid-item control-grid-item-pos-6" data-position-area="inline-end span-block-end"></button>
                </div>
            </div>

            <div class="controls-item">
                <div class="control-label">Edges</div>
                <div class="control-grid">
                    <button class="control-grid-item control-grid-item-pos-1" data-position-area="start"></button>
                    <button class="control-grid-item control-grid-item-pos-2" data-position-area="block-start center"></button>
                    <button class="control-grid-item control-grid-item-pos-3" data-position-area="block-start inline-end"></button>
                    <button class="control-grid-item control-grid-item-pos-4" data-position-area="inline-start center"></button>
                    <button class="control-grid-item control-grid-item-pos-6" data-position-area="inline-end center"></button>
                    <button class="control-grid-item control-grid-item-pos-7" data-position-area="block-end inline-start"></button>
                    <button class="control-grid-item control-grid-item-pos-8" data-position-area="block-end center"></button>
                    <button class="control-grid-item control-grid-item-pos-9" data-position-area="end"></button>
                </div>
            </div>

        </div>
        <div class="controls-current" id="position-area-value"></div>
    </div>
</div>
