{% extends 'base.html.twig' %}

{% block body %}

    <div class="demo-container">
        <div class="demo-preview">
            <iframe src="{{ path('app_demo_inline', { 'identifier': demo.identifier }) }}"></iframe>
        </div>
    </div>

{% endblock %}
