<div class="logolist">
    <div class="logo">
        <img src="/assets/images/chrome.png" height="30" width="30"> <span>Chrome</span>
    </div>
    <div class="logo">
        <img src="/assets/images/opera.png" height="30" width="30">
        <span>Opera</span>
    </div>
    <div class="logo">
        <img src="/assets/images/firefox.png" height="30" width="30">
        <span>Firefox</span>
    </div>
    <div class="logo">
        <img src="/assets/images/safari.png" height="30" width="30">
        <span>Safari 7+</span>
    </div>
    <div class="logo">
        <img src="/assets/images/edge.png" height="30" width="30">
        <span>Edge / IE11+</span>
    </div>
</div>
