{% extends 'base.html.twig' %}
{% block body %}

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        {% for demo in demos %}
            <div class="col">
                <div class="card rounded-3 shadow-sm h-100">
                    <div class="card-body">
                        <div class="card-title clearfix fs-5">
                            {% if demo.new == true %}
                                <span class="badge bg-danger float-end">NEW</span>
                            {% endif %}
                            <a href="{{ path('app_demo_show', { 'identifier': demo.identifier }) }}" class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover fw-bold">
                                {{demo.label}}
                            </a>
                        </div>
                        <a href="{{ path('app_demo_show', { 'identifier': demo.identifier }) }}" class="card-link link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Demo</a>
                        {% if demo.mdn %}<a class="card-link link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ demo.mdn}}">MDN</a>{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
