{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
    <div class="list-group my-5">
        {% for demo in demos %}
            <a class="list-group-item list-group-item-action" href="{{ path('app_demo_show', { 'identifier': demo.identifier }) }}">
                {{ demo.name }}
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
