<div class="button-holder">
    <div class="button-container">
        <button>Lame Button</button>
    </div>
    <div class="button-container button-container-focus-within">
        <button>Fancy Button</button>
    </div>
</div>
