.demo-root {
    container-type: inline-size;
    height: 100%;
    width: 100%;
    --columns-editor: 1fr;
    --columns-preview: 2fr;
    background-color: #1e1e1e;
    color: #ffffff;
}

.demo-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: inherit;
    background-color: inherit;
    align-content: center;
    text-align: center;
}

.demo-container {
    padding: 1rem;
    display: grid;
    position: relative;
    grid-template-columns: var(--columns-editor) var(--columns-preview);
    grid-template-rows: 1fr auto;
    grid-template-areas:
        'editors preview'
        'editors control';
    height: 100%;
    width: 100%;
    gap: 1rem;
}

@container style(--columns-editor: 0fr) {
    .demo-container {
        grid-template-columns: var(--columns-preview);
        grid-template-areas:
            'preview'
            'control';
    }
    .demo-editors {
        display: none;
    }
}

.demo-preview {
    grid-area: preview;
    display: flex;
    justify-content: center;
    align-items: center;
    iframe {
        display: block;
        height: 100%;
        width: 100%;
        border: 2px solid #414141;
        border-radius: 10px;
        @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        }
    }
}
.demo-editors {
    grid-area: editors;
    position: relative;
    textarea {
        height: 0;
        opacity: 0;
        width: 0;
    }
}
.demo-editors-inner {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.demo-editor-section {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #414141;
    &.active {
        flex-shrink: 0;
        flex-grow: 1;
        .demo-editor-section-editor {
            border-top: 2px solid #414141;
            display: block;
        }
    }
}

.demo-editor-section-label {
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #313131;
    border: 0;
    color: #fff;
    padding: .25rem .5rem;
    text-align: left;
}

.demo-editor-section-editor {
    display: none;
    flex-grow: 1;
}

.demo-preview-editor {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #414141;
    height: 100%;
    width: 100%;
}
.demo-control {
    border: 2px solid #414141;
    padding: .5rem .75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    border-radius: 10px;

    &-size,
    &-split {
        flex-shrink: 0;
    }

    &-width {
        flex-grow: 1;
    }

    [type="range"] {
        width: 100%;
    }
}
