.demo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
}
.demo-preview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    iframe {
        display: block;
        height: 100%;
        width: 100%;
        border: 2px solid #414141;
        border-radius: 10px;
        @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        }
    }
}
.demo-control {
    padding: 1rem;
    padding-top: 0;

    [type="range"] {
        width: 100%;
    }
}
