.demo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}
.demo-preview {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem;
    iframe {
        display: block;
        height: 100%;
        width: 100%;
        border: 2px solid #414141;
        border-radius: 5px;
        resize: horizontal;
        @media (prefers-color-scheme: dark) {
            color-scheme: dark;
        }
    }
}
