/**
 * Appear Animation for vCards
 */
@keyframes appear {
    from {
        scale: .85;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

.vcard {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry contain 25%;
}

/**
 * Reading Indicator Animation
 */
@keyframes readinganimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.reading-indicator-progress {
    animation: readinganimation linear;
    animation-timeline: scroll();
}
