*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --demo-padding-x: 1.5rem;
    --demo-padding-y: 1.5rem;
}

body {
    margin: 0;
    padding: var(--demo-padding-y) var(--demo-padding-x);
    background: #dadada;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        color-scheme: dark;
        background: #212121;
    }
}

.demo-contanier[style]:not([style="width: 100%;"]) {
    outline-style: dashed;
    outline-offset: 1px;
    outline-width: 1px;
    margin: 0 auto;
}
