*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --demo-padding-x: 1.5rem;
    --demo-padding-y: 1.5rem;
    --demo-bg: #dadada;
    --demo-color: #313131;
}

body {
    margin: 0;
    padding: var(--demo-padding-y) var(--demo-padding-x);
    color: var(--demo-color);
    background: var(--demo-bg);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    min-height: 100dvh;
}

.demo-contanier {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100dvh - var(--demo-padding-y) * 2);
    align-content: center;
}

.demo-contanier[style]:not([style="width: 100%;"]) {
    outline-style: dashed;
    outline-offset: 1px;
    outline-width: 1px;
}

.demo-not-supported {
    border: 1px solid #f1aeb5;
    background-color: #f8d7da;
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 900px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --demo-bg: #212121;
        --demo-color: #dadada;
    }
    html,
    body {
        color-scheme: dark;
    }
    .demo-not-supported {
        border-color: #842029;
        background-color: #2c0b0e;
    }
}
