*,
:after,
:before {
    box-sizing: border-box;
}

:root {
    --demo-light-bg: #dadada;
    --demo-light-color: #313131;
    --demo-dark-bg: #212121;
    --demo-dark-color: #dadada;
    --demo-padding-x: 1.5rem;
    --demo-padding-y: 1.5rem;
    --demo-bg: light-dark(var(--demo-light-bg), var(--demo-dark-bg));
    --demo-color: light-dark(var(--demo-light-color), var(--demo-dark-color));
    --demo-align-content: center;
    --demo-highlight-color: light-dark(#0d6efd, #96c0ff);
}

html,
body {
    min-height: 100dvh;
}

body {
    margin: 0;
    padding: var(--demo-padding-y) var(--demo-padding-x);
    color: var(--demo-color);
    background: var(--demo-bg);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

button.active {
    border: 1px solid var(--demo-highlight-color);
    background: color-mix(in srgb, var(--demo-highlight-color), var(--demo-bg));
}

.demo-contanier {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100dvh - var(--demo-padding-y) * 2);
    align-content: var(--demo-align-content);
}

.demo-contanier[style]:not([style="width: 100%;"]) {
    outline-offset: 1px;
    outline-style: dashed;
    outline-width: 2px;
    border-radius: 2px;
}

.demo-not-supported {
    border: 1px solid light-dark(#f1aeb5, #842029);
    background-color: light-dark(#f8d7da, #2c0b0e);
    padding: 1rem;
    text-align: center;
    border-radius: .25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    max-width: 900px;
}

.form {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: .5rem 2rem;
    justify-content: center;
}

.form-section {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.form select {
    display: inline-block;
    padding: .25rem .5rem;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        color-scheme: dark;
    }
}
