<div id="context" class="context">
    <div id="card">
        {% include 'shared/_vcard.html.twig' with { 'vcard': data.vcards.0 } only %}
    </div>
</div>

<div class="form">
    <div class="form-section">
        <label for="colorSchemeContext">context color-scheme:</label>
        <select id="colorSchemeContext"
            data-trigger="change"
            data-target="#context"
            data-property="color-scheme"
            >
            {% for colorScheme in data.colorSchemes %}
                <option value="{{ colorScheme }}">{{ colorScheme }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-section">
        <label for="colorSchemeCard">card color-scheme:</label>
        <select id="colorSchemeCard"
            data-trigger="change"
            data-target="#card"
            data-property="color-scheme"
            >
            {% for colorScheme in data.colorSchemes %}
                <option value="{{ colorScheme }}">{{ colorScheme }}</option>
            {% endfor %}
        </select>
    </div>
</div>
