<div class="container">
    <button type="button" class="btn" data-modal-toggle="true">
        Open
    </button>
</div>

<div id="modal" class="modal">
    <p>Morbi faucibus imperdiet lectus in sodales. Donec id odio fermentum massa mollis eleifend. Cras posuere vulputate luctus. Praesent eget dignissim lorem. Mauris eu sagittis mauris. Nulla id accumsan eros. Aliquam erat volutpat. Vivamus in ligula feugiat, facilisis ex a, convallis nisl. Nullam hendrerit odio congue egestas mattis.</p>
    <p>Fusce leo urna, interdum id euismod ut, dapibus nec erat. Nulla placerat sodales lacus, blandit ornare nisi posuere volutpat. Vivamus ut orci eget augue dignissim dapibus id ac quam. Aenean nec purus sit amet nulla dapibus feugiat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec tristique tincidunt velit sed luctus. Nam ultricies fringilla lacus id finibus.</p>
    <button type="button" class="btn" data-modal-toggle="true">
        Close
    </button>
</div>
