.modal {
    --modal-bg: #fafafa;
    --modal-color: #313131;
    --modal-padding: 1.5rem;
    --modal-border-radius: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    translate: -50% -50%;
    padding: var(--modal-padding);
    border-radius: var(--modal-border-radius);
    transition-property: opacity, display, top, scale;
    transition-duration: 0.5s;
    color: var(--modal-color);
    background: var(--modal-bg);
    opacity: 1;
    width: clamp(12rem, 80vw, 38rem);
    scale: 1;

    @starting-style {
        top: 100%;
        opacity: 0;
        scale: 0.25;
    }

    & > *:first-child {
        margin-top: 0;
    }

    &.show {
        display: block;
    }
}
