<div class="card-grid">

    <div class="card-section card-section-a">
        <h1>Pages</h1>
        <div class="card-section-cards">
            <article class="card">
                <h1>Lorem ipsum dolor sit amet</h1>
                <p>
                    Fusce at ultrices diam. Vestibulum et risus
                    vel sapien commodo maximus. Etiam sodales,
                    dolor nec venenatis ornare, velit tortor
                    suscipit nibh, eu tincidunt urna nisl at
                    libero.
                </p>
            </article>
            <article class="card">
                <h1>Nullam volutpat sem eget</h1>
                <p>
                    Aenean fringilla sapien sem, vel ornare ex
                    pellentesque id. Vivamus scelerisque facilisis
                    felis, vitae commodo massa euismod eu.
                </p>
            </article>
        </div>
    </div>

    <div class="card-section card-section-b">
        <h1>Articles</h1>
        <div class="card-section-cards">
            <article class="card">
                <h1>Vestibulum pharetra ligula vel</h1>
                <p>
                    Mauris viverra pretium commodo. Aliquam libero
                    libero, ullamcorper quis venenatis quis, volutpat
                    vitae ante.
                </p>
            </article>
            <article class="card">
                <h1>Morbi bibendum est at augue</h1>
                <p>
                    Donec pulvinar facilisis sapien, sed semper felis
                    porttitor ac. Ut feugiat aliquam neque ac posuere.
                    Fusce pellentesque, elit vel semper egestas, arcu
                    leo lacinia sapien.
                </p>
            </article>
        </div>
    </div>

    <div class="card-section card-section-c">
        <h1>Other</h1>
        <div class="card-section-cards">
            <article class="card">
                <h1>Aliquam at massa a elit porttitor</h1>
                <p>
                    Duis iaculis metus nulla, nec egestas arcu fermentum
                    id. Morbi malesuada, ipsum quis pharetra interdum.
                </p>
            </article>
            <article class="card">
                <h1>Praesent sed urna suscipit</h1>
                <p>
                    Suspendisse convallis, nulla ut malesuada tincidunt,
                    ante odio ornare turpis, a scelerisque nisl neque nec
                    velit.
                </p>
            </article>
                <article class="card">
                <h1>Aliquam at massa a elit porttitor</h1>
                <p>
                    Duis iaculis metus nulla, nec egestas arcu fermentum
                    id. Morbi malesuada, ipsum quis pharetra interdum.
                </p>
            </article>
            <article class="card">
                <h1>Praesent sed urna suscipit</h1>
                <p>
                    Suspendisse convallis, nulla ut malesuada tincidunt,
                    ante odio ornare turpis, a scelerisque nisl neque nec
                    velit.
                </p>
            </article>
        </div>
    </div>
</div>
