<div class="article-grid">
    <div class="article" id="target">
        <div class="article-body">
            <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
            <p>
                Proin hendrerit cursus orci, nec bibendum turpis ultricies vel. Pellentesque
                aliquam quam sit amet tortor consequat, auctor condimentum augue lacinia.
            </p>
            <p>
                Mauris tincidunt, ligula sit amet mollis placerat, urna lorem bibendum neque,
                at suscipit tellus erat id est. Curabitur aliquam mauris vel lacinia sagittis.
                Fusce a lacus ut diam laoreet cursus. Cras ut varius tellus, in varius ex.
                Ut condimentum dui vitae nisl facilisis, quis scelerisque dui elementum.
            </p>
        </div>
    </div>
</div>

<div class="form">
    <select id="textwrap">
        <option value="wrap">wrap</option>
        <option value="balance">balance</option>
    </select>
</div>
